# Binaries
programa
GO-MULTITOOL
teste

# Log and temporary files
*.log
*.tmp
*.swp

# JSON files
*.json

# Report directories
image_reports/
osint_reports/
net_logs/

# IDE and OS files
.DS_Store
.idea/
.vscode/

# Third-party tools
osint_tools/
.aider*
.codex
