# Binaries
programa
GO-MULTITOOL
teste

# Log and temporary files
*.log
*.tmp
*.swp

# JSON files
*.json
reports/
target/
reports/phone/phoneinfoga_keys.txt
# Report directories
osint_reports/
target/osint_reports/
reports/osint_reports/
reports/zphisher/
target/pc_reports/
net_logs/

# IDE and OS files
.DS_Store
.idea/
.vscode/

# Third-party tools
osint_tools/
.aider*
.codex
